/* styles for admin dashboard*/

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 150px;
    background-color: rgb(218, 218, 218);
}

.header{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.header-greet{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 2fr;
}

.header-greet-hi{
font-size:12px;
}

.header-greet-name{
    font-weight: bold;
}

.header-logo{
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
}

.header-search{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
}
.search{
    border: none;
    border-radius: 10px;
    width: 70%;
    background-color: rgb(218, 218, 218);
}

.header-links{
    display: flex;
    justify-content: right;    
    align-items: center;
    font-weight: bold;
    font-size: 36px;
}

.header-control{
    display: flex;
    justify-content: right;    
    align-items: center;
}

button{
    background-color: rgb(240, 82, 82) ;
    color: white;
    border-radius: 25px;
    border: none;
    height: 25px;
    width: 60px;
}

button:hover{
    cursor: grab;
}

.sidebar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(240, 82, 82);
    height: 100vh;
    display: grid;
    grid-template-rows: .5fr 4fr 6fr;
    color: white;
    justify-content: center;
}

.sidebar-header{
    padding: 30px;
    display: flex;
    font-size: 24px;
    align-items: center;
}

ul{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 4px;
    list-style: none;
}

ul a{
    color: white;
    text-decoration: none;
}

.main-content-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-content: space-between;
}

.main-content{
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 20px;
}

.content-label{
    font-weight: bold;
    padding: 10px;
}

.projects-grid{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 20px 1fr 1fr;
    gap: 10px;
}

.your-projects-grid{
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr);
    gap: 10px;
}

.projects-container{
    padding: 30px;
    border-color: black;
    border-radius: 10px;
    background-color: aliceblue;
    position: relative;
}

.project-name{
    font-weight: bold;
}

.project-content{
    color: rgb(97, 97, 97);
}

.project-links{
    position: absolute;
    bottom: 5px;
    right: 5px;
    filter: invert(100%);
}

.announcement-border {
    width: 100%;
    height: 1px;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.announce-content{
    color: rgb(97, 97, 97);
}

.announce-topic{
    font-weight: bold;
}

.trending-link{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.trending-img{
    grid-row-start: 1;
    grid-row-end: 3;
}

div.img{
    height: 24px;
}