/* styles for admin dashboard*/

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
    background-color: #dadada;
}

.header{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2;
    padding: 20px;
}

.header-greet{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 2;
}

.header-logo{
    grid-row-start: 1;
    grid-row-end: 3;
}

.main-content-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-content: space-between;
}

.sidebar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(240, 82, 82);
    height: 100vh;
    display: grid;
    grid-template-rows: .5fr 4fr 6fr;
}

.sidebar-header{
    padding: 30px;
}

.sidebar-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.main-content{
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 20px;
}
.announce{
    text-align: right;
}
.projects-grid{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.your-projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projects-container{
    border: 10px;
    border-color: black;
}

ul{
    list-style: none;
}

li{
    padding: 5px;
}